/*omg fuck this*/

/* progress circle in splash screen */
.progress-indicator {
    -fx-progress-color: white;
}

/* white texts */
.whiteText {
    -fx-text-fill: white;
}

.createAccountGrid .label {
    -fx-text-fill: white;
}

/*comboBox skin*/
.combo-box  {
    -fx-background-color: #434343;
}
.combo-box:hover    {
    -fx-background-color: #4d4d4d;
}
/*comboBox bg*/
.combo-box  .list-cell {
    -fx-background-color: #595959;
    -fx-text-fill: white;
}

/*comboBox and scrollPane scroll bars bg*/
.scroll-bar  {
    -fx-background-color: #595959;
}
/*comboBox and scrollPane scroll bars THUMBS*/
.scroll-bar .thumb {
    -fx-background-color : #454545;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0em;
}
/*comboBox and scrollPane scroll bars THUMBS over effects*/
.scroll-bar .thumb:hover {
    -fx-background-color : #636363;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0em;
}

.scroll-bar .increment-button   {
    -fx-background-color: #454545;

}
.scroll-bar .increment-button:hover   {
    -fx-background-color: #636363;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0em;
}
.scroll-bar .decrement-button   {
    -fx-background-color: #454545;
}
.scroll-bar .decrement-button:hover   {
    -fx-background-color: #636363;
}
/*all buttons*/
.button {
    -fx-text-fill: white;
    -fx-background-color: #595959;
    /*-fx-padding: 7,7,7,7; doesnt work */
}
.button:hover   {
    -fx-background-color: #636363;
}
/*main window top and bot*/
BorderPane > HBox    {
    -fx-background-color: #272727;
    -fx-alignment: Center_right;
    -fx-padding: 3,3,3,3;
    -fx-spacing: 10;
}
/*main window top and bot Labels*/
BorderPane > HBox > Label   {
    -fx-text-fill: white;
}

/*bg color across the board*/
BorderPane  {
    -fx-background-color: #404040;
}

/*for statPanel Labels*/
BorderPane > BorderPane > GridPane > VBox > Label   {
    -fx-text-fill: white;
}
/*stat panel blocks bg*/
BorderPane > BorderPane > GridPane > VBox   {
    -fx-background-color: #272727;
}
/*stat panel bg*/
BorderPane > BorderPane > GridPane    {
    -fx-background-color: #404040;
}

/*for borough window top text*/
BorderPane > BorderPane > Label {
    -fx-text-fill: white;
    -fx-alignment: center;
}

/*borough window bg*/
.scroll-pane  .viewport{
    -fx-fit-to-width: true;
    -fx-background-color: #404040;
}
/*borough window main labels*/
#boroughBox > Label   {
    -fx-text-fill: white;
}

/*property window labels*/
BorderPane > BorderPane > VBox > Label  {
    -fx-text-fill: white;
}
/*property window bg*/
BorderPane > BorderPane > VBox   {
    -fx-background-color: #404040;
}

#circle:hover {

}
